.cursor {
  background-color: aqua;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
#car {
  clip-path: inset(380px 0px 120px 390px);
  position: absolute;
  left: 25%;
  top: -10%;
  /*inset (top-bottom , ,right-left ,)   */
}

#whoSays {
  position: absolute;
  top: 10rem;
  font-family: "Graffiti font", sans-serif;
}

.text-center {
  position: absolute;
  font-family: "Graffiti font", sans-serif;
  bottom: 25rem;
}

#hud {
  position: absolute;
  bottom: 15rem;
  font-family: "Graffiti font", sans-serif;
}

.done {
  color: pink;
}

.hidden {
  display: none;
}
